{embed="_layouts/index"}
{preload_replace:channel="blog_post"}
{exp:stash:set_value name="title" value="IV Insights Blog"}
{exp:stash:set_value name="default_title" value="IV Insights Blog"}
{exp:stash:set_value name="default_description" value="The blog of Intellectual Ventures"}
{exp:stash:set_value name="body_class" value="page default-layout news"}
{exp:stash:set name="breadcrumb"}{exp:taxonomy:breadcrumbs tree_id="2" node_id="22" include_here="no"}{/exp:stash:set}

{exp:channel:entries channel="{channel}" disable="member_data"}
	{exp:stash:set name="featured_image_path"}
		{blog_featured_image:server_path}
	{/exp:stash:set}

	{exp:stash:set name="category"}
		{exp:channel:category_heading channel="{channel}"}
			{category_name}
		{/exp:channel:category_heading}
	{/exp:stash:set}


{/exp:channel:entries}





{exp:ifelse parse="inward"}
	{if segment_2 == ""}
		{exp:low_reorder:entries
			set="4"
			disable="member_data|category_fields"
			limit="3"
			cache="yes"
			refresh="60"
		}
			{exp:stash:append name="featured_blog_posts"}
				<li class="blue-content-square transition four columns {if blog_featured_image:server_path}featured-image{/if}">
					{if blog_featured_image:server_path}
						<div class="blog-featured-image-thumb">
							<a href="{title_permalink='insights/archives'}">
								{exp:ce_img:pair
									src="{blog_featured_image:url}"
									width="768"
									crop="yes|center,center|0,0|yes"
								}

								<a href="{title_permalink='insights/archives'}"><img src="{made}" alt="{title}" class=""></a>
								{/exp:ce_img:pair}
							</a>
						</div>
					{/if}
					<div class="widget-text-container clearfix">
						<div class="widget-text-container-inner clearfix">
							<p>
								<a href="{title_permalink='insights/archives'}">
									<span class="widget-title">{title}</span>
								</a>
							</p>
						</div>
					</div>
				</li> <!-- /.sidebar-widget -->
			{/exp:stash:append}
		{/exp:low_reorder:entries}
	{/if}
{/exp:ifelse}


{exp:stash:set name="content"}
<div class="row">
	<div class="twelve columns">
		<div class="breadcrumb">{exp:stash:get name="breadcrumb"}</div>
		<h1 id="page-title">{exp:stash:get name="title"}</h1>
	</div>
</div>
<div class="row">
	<div id="main-content" class="nine columns dotted-col">

		<div id="body-content-wrapper" class="row">
			<div class="twelve columns">
				{exp:ifelse parse="inward"}
				{if segment_2 == ""}
				<div class="row">
					<div class="twelve columns">
						<h4 class="section-header">Featured</h4>
					</div>
				</div>

				<div class="featured-blog-posts row">
					<div class="infiniteCarousel">
						<div class="wrapper">
							<ul>
								{exp:stash:get name="featured_blog_posts"}
							</ul>
						</div>
					</div>
				</div>
				{/if}
				{/exp:ifelse}

				<div class="row blog-listing">

					{if segment_2 == ""}<h4 class="section-header">Latest Articles</h4>{/if}
					{if segment_2 == "category"}<h4 class="section-header">Posts from the {exp:stash:get name="category"} category</h4>{/if}
					{if segment_2 == "tag"}<h4 class="section-header">Posts tagged: {exp:tagger:tagname tag="{segment_3}"}</h4>{/if}

					{exp:ifelse}

						{if segment_2=="tag"}
							{exp:tagger:entries tag="{segment_3}" custom_fields="blog_intro"}
								<div class="post clearfix">
									<h2><a href="/insights/archives/{tagger:entry_url_title}">{tagger:entry_title}</a></h2>
									<ul class="post-meta clearfix">
										<li class="post-date">{tagger:entry_date format="%F %j, %Y"}</li>
									</ul>
									<div class="post-content">
										<p class="post-intro">{exp:eehive_hacksaw allow="<a>"}{tagger:blog_intro}{/exp:eehive_hacksaw}</p>
										<a href="/insights/archives/{tagger:entry_url_title}" class="medium blue nice button radius">Read full article &raquo;</a>
									</div>
								</div> <!-- /.post -->
								<hr class="post-separator"/>
							{/exp:tagger:entries}
						{if:else}
							{exp:channel:entries channel="{channel}"
								limit="10"
								disable="member_data"
								paginate="bottom"
								cache="no"
							}
							<div class="post clearfix">
								<h2><a href="{title_permalink='insights/archives'}">{title}</a></h2>
								{if contributor}
									<p class="byline">By {contributor}{title}{/contributor}</p>
								{/if}
								<ul class="post-meta clearfix">
									<li class="post-date">{entry_date format="%F %j, %Y"}</li>
									<li class="post-category">{categories limit="3" backspace="2"}<a href="{path='insights/index'}">{category_name}</a>, {/categories}</li>
									<li class="post-tags">{exp:tagger:tags entry_id="{entry_id}" backspace="2"}<a href="/insights/tag/{tagger:urlsafe_tagname}">{tagger:tag_name}</a>, {/exp:tagger:tags}</li>
								</ul>
								<div class="post-content">
									<p class="post-intro">{exp:eehive_hacksaw allow="<a>"}{blog_intro}{/exp:eehive_hacksaw}</p>
										{if is_this_a_video_post != 'y'}
									{if blog_featured_image:server_path}
										{exp:ce_img:pair
											src="{blog_featured_image:url}"
											width="600"
											crop="yes|center,center|0,0|yes"
										}

										<img src="{made}" alt="{title}" class="post-featured-image">
										{/exp:ce_img:pair}
									{/if}
										{/if}
									{blog_extended:excerpt}
									<a href="{title_permalink='insights/archives'}" class="medium blue nice button radius">Read the full story &raquo;</a>
								</div>
							</div> <!-- /.post -->
							<hr class="post-separator"/>

							{paginate}
								{pagination_links}
									<ul class="pagination">
					                {first_page}
					                        <li><a href="{pagination_url}" class="page-first">First</a></li>
					                {/first_page}

					                {previous_page}
					                        <li><a href="{pagination_url}" class="page-previous">&lt;</a></li>
					                {/previous_page}

					                {page}
					                        <li><a href="{pagination_url}" class="page-{pagination_page_number} {if current_page}active{/if}">{pagination_page_number}</a></li>
					                {/page}

					                {next_page}
					                        <li><a href="{pagination_url}" class="page-next">&gt;</a></li>
					                {/next_page}

					                {last_page}
					                        <li><a href="{pagination_url}" class="page-last">Last Page</a></li>
					                {/last_page}
					        </ul>
								{/pagination_links}
							{/paginate}
							{/exp:channel:entries}
						{/if}
					{/exp:ifelse}
				</div>
			</div>
		</div> <!-- /#body-content-wrapper -->

	</div>
	<div id="side-navigation" class="three columns dotted-col">


		<div class="">
			<h4 class="section-header">Categories</h4>
			<div class="categories-list">
			{exp:channel:categories channel="{channel}" show="not 49" style="linear" class="categories-list"}
				<a href="{path='insights/index'}">{category_name}</a><br />
			{/exp:channel:categories}
			</div>
		</div>
    <div class="dotted-col">
			<h4 class="section-header">Tags</h4>
			<div class="categories-list">
			{exp:tagger:cloud limit="50" min_size="14" max_size="30" rankby="hits" sort="desc" orderby="total_entries"}
          <a href="/insights/tag/{tagger:urlsafe_tagname}/" title="{tagger:tag_name}" style="font-size:{tagger:size}px">{tagger:tag_name}</a>
      {/exp:tagger:cloud}
			</div>
		</div>
		<div class="dotted-col">
			<h4 class="section-header">Archives</h4>
			<div class="categories-list">
        <form class="nice">
				  <select class="select-url">
        {exp:low_yearly_archives channel="{channel}" start_month="1" status="not closed" sort="desc" monthsort="desc"}

						{months}
					      {if num_entries != 0}
					      	<option value="{path=insights}/{year}/{month_num}/">{month} {year}</option>
					      {/if}
						{/months}

				{/exp:low_yearly_archives}
          </select>
        </form>

			</div>
		</div>

		<div class="dotted-col">
			<h4 class="section-header">Connect</h4>
			<ul class="connect-links">
				<li class="connect-rss"><a href="/index.php/core/rss">Subscribe to our RSS Feed</a></li>
				<li class="connect-twitter"><a href="http://www.twitter.com/ivinvents" target="_new">Follow us on Twitter</a></li>
				<li class="connect-facebook"><a href="http://www.facebook.com/intven" target="_new">Join us on Facebook</a></li>
				<li class="connect-linkedin"><a href="http://www.linkedin.com/company/intellectual-ventures" target="_new">Visit us on LinkedIn</a></li>
				<li class="connect-newsletter"><a href="/index.php/news/newsletter-subscribe">Subscribe to our newsletter</a></li>
				<li class="connect-about"><a href="/index.php/about">Learn more about us</a></li>
				<li class="connect-ask"><a href="mailto:askiv@intven.com">Ask us a question</a></li>
			</ul>
		</div>
    <div class="dotted-col">
			<h4 class="section-header">Twitter <a href="{gv_twitter_url}" class="btn-twitter-follow transition"><img src="/images/iv/btn_twitter_follow.png" alt="Follow us on Twiter!" /></a></h4>
			{exp:twitter:user screen_name="ivinvents" limit="3"}
				<div class="tweet clearfix">
					<p>{text}</p>
					<p class="date">{created_at format="%M %d"}</p>
				</div>
			{/exp:twitter:user}
		</div>

	</div>
</div>
{/exp:stash:set}
