{preload_replace:channel="inventor"}

{exp:switchee variable="{segment_3}" parse="inward"}
	
	<!-- Main Listing Page -->
	{case value=""}
		{embed="_layouts/basic-page"}
		{exp:channel:entries channel="pages" 
			entry_id="53" 
			dynamic="off" 
			{gv_channel_disable_basic}
		}
		  {exp:stash:set_value name="title" value="{title}"}
		  {exp:stash:set_value name="default_title" value="{title}"}
		  {exp:stash:set_value name="body_class" value="page default-layout inventor-network"}
		  {exp:stash:set_value name="entry_id" value="{entry_id}"}
		  {exp:stash:set name="breadcrumb"}{exp:taxonomy:breadcrumbs tree_id="2" entry_id="{entry_id}" include_here="no"}{/exp:stash:set}

	    {exp:stash:set name="side_navigation"}
				{exp:taxonomy:nav tree_id="2" entry_id="{entry_id}" ul_css_id="side-navigation-list" root_node_id="5" depth="1"}
				    <a href="{node_url}">{node_title}</a> 
				{/exp:taxonomy:nav}
			{/exp:stash:set}

		  {exp:stash:set name="page_body"}
		  	{body}
		  {/exp:stash:set}

		  {exp:ifelse parse="inward"} 
		  {if static_header_image != ""}
			  {exp:stash:set name="page-header-asset"}
			  	{exp:ce_img:pair
						src="{static_header_image}"
						max="865"
						crop="yes"
					}
						
						<img src="{made}" alt="{title}" class="photo">
						
					{/exp:ce_img:pair}
					<div class="header-asset-overlay">
						<h2>{static_alt_title}</h2>
						<p>{static_page_slug}</p>
					</div>
			  {/exp:stash:set}
			{/if}
			{/exp:ifelse}
		{/exp:channel:entries}


		{exp:channel:entries channel="{channel}" 
			{gv_channel_disable_basic} 
			dynamic="off"
			orderby="title"
			sort="asc"
			cache="yes"
			refresh="600"
		}
			
			{exp:stash:append name="inventor_profiles" match="#y#" against="{is_this_an_inventor_spotlight}"}
				<li class="leadership-tile clearfix">
					<div class="headshot-photo">
						
						{exp:ce_img:pair
							src="{inventor_photo}"
							max="203"
							crop="yes|center,top"
							filter="grayscale"
						}
							
							<a href="{title_permalink='inventor-network/inventor-spotlights'}"><img src="{made}" alt="{title}" class="photo grayscale fade-out transition"></a>
							
						{/exp:ce_img:pair}
						{exp:ce_img:pair
							src="{inventor_photo}"
							max="203"
							crop="yes|center,top"
						}
							
							<img src="{made}" alt="{title}" class="photo color">
							
						{/exp:ce_img:pair}
					</div>
					<div class="leadership-tile-info">
						<a href="{title_permalink='inventor-network/inventor-spotlights'}">{inventor_first_name} {inventor_last_name}</a>
						<p>{inventor_job_title}</p>
					</div>
				</li>
			{/exp:stash:append}

		{/exp:channel:entries}
			
		{exp:stash:set name="content"}
			{exp:stash:get name="page_body"}
			
			<h4 class="section-header">Featured Inventors</h4>
			<ul class="block-grid four-up mobile">
				{exp:stash:get name="inventor_profiles"}
			</ul>

		{/exp:stash:set}
	{/case}

	{case default="Yes"}
		{embed="_layouts/basic-page-sidebar"}
		{exp:channel:entries channel="{channel}" 
			{gv_channel_disable_basic} 
			limit="1"
		}
			{exp:stash:set_value name="title" value="Inventor Spotlights"}
		  {exp:stash:set_value name="body_class" value="page default-layout inventor-network"}
		  {exp:stash:set_value name="entry_id" value="{entry_id}"}
		  {exp:stash:set name="breadcrumb"}{exp:taxonomy:breadcrumbs tree_id="2" node_id="34" include_here="no"}{/exp:stash:set}

		  {exp:stash:set name="side_navigation"}
				{exp:taxonomy:nav tree_id="2" node_id="34" ul_css_id="side-navigation-list" root_node_id="5" depth="1"}
				    <a href="{node_url}">{node_title}</a> 
				{/exp:taxonomy:nav}
			{/exp:stash:set}

		  {exp:stash:set name="page_body"}
		  	
		  	<h2 class="sub-page-header">{title}</h2>
		  	<p class="profile-main-title">{inventor_job_title} {if inventor_location != ""}<br />{inventor_location}{/if}</p>

		  	
		  	{inventor_web_bio}
		  {/exp:stash:set}

		  {exp:stash:set name="page_sidebar"}
		  	{exp:ce_img:pair
					src="{inventor_photo}"
					width="300"
					crop="yes|center,top"
				}
					<div class="profile-sidebar-photo">
						<img src="{made}" alt="{title}" class="photo color">
					</div>
				{/exp:ce_img:pair}

				<h5 class="intro">&quot;{inventor_quote}&quot;</h5>
				<hr />
				{if inventor_downloadable_bio}
					<a href="{inventor_downloadable_bio:url}" target="_new">Get Printable Inventor Spotlight &raquo;</a>
				{/if}
		  {/exp:stash:set}

		  
		{/exp:channel:entries}

		
			
		{exp:stash:set name="page_sidebar"}
		  	
		  	<h4 class="section-header dotted-col">Other Featured Inventors</h4>
		  	{exp:stash:get name="related_inventor_spotlights"}

		{/exp:stash:set}
		

		

		{exp:stash:set name="content"}
			{exp:stash:get name="page_body"}
		{/exp:stash:set}

		{exp:stash:set name="sidebar"}
			{exp:stash:get name="page_sidebar"}

		{/exp:stash:set}
	{/case}
{/exp:switchee}