{preload_replace:channel="inventor"}

{exp:switchee variable="{segment_3}" parse="inward"}
	
	<!-- Main Leadership Page -->
	{case value=""}
		{embed="_layouts/basic-page"}
		{exp:channel:entries channel="pages" 
			entry_id="51" 
			dynamic="off" 
			{gv_channel_disable_basic}
		}
		  {exp:stash:set_value name="title" value="{title}"}
		  {exp:stash:set_value name="default_title" value="{title}"}
		  {exp:stash:set_value name="body_class" value="page default-layout inventor-network"}
		  {exp:stash:set_value name="entry_id" value="{entry_id}"}
		  {exp:stash:set name="breadcrumb"}{exp:taxonomy:breadcrumbs tree_id="2" entry_id="{entry_id}" include_here="no"}{/exp:stash:set}

	    {exp:stash:set name="side_navigation"}
				{exp:taxonomy:nav tree_id="2" entry_id="{entry_id}" ul_css_id="side-navigation-list" root_node_id="5" depth="1"}
				    <a href="{node_url}">{node_title}</a> 
				{/exp:taxonomy:nav}
			{/exp:stash:set}

		  {exp:stash:set name="page_body"}
		  	{body}
		  {/exp:stash:set}
		{/exp:channel:entries}


		{exp:channel:entries channel="{channel}" 
			disable="pagination|member_data" 
			category="10"
			orderby="inventor_last_name"
			sort="asc"
			dynamic="off"
			cache="yes"
			refresh="600"
		}

			{exp:stash:append name="inventor_profiles"}
				<li class="leadership-tile clearfix">
					<a href="{title_permalink='inventor-network/senior-inventors'}">
					{if inventor_photo}
					<div class="headshot-photo">
						
						{exp:ce_img:pair
							src="{inventor_photo}"
							max="203"
							crop="yes|center,top"
							filter="grayscale"
						}
							
							<a href="{title_permalink='inventor-network/senior-inventors'}"><img src="{made}" alt="{title}" class="photo grayscale fade-out transition"></a>
							
						{/exp:ce_img:pair}
						{exp:ce_img:pair
							src="{inventor_photo}"
							max="203"
							crop="yes|center,top"
						}
							
							<a href="{title_permalink='inventor-network/senior-inventors'}"><img src="{made}" alt="{title}" class="photo color"></a>
							
						{/exp:ce_img:pair}
					</div>
					{/if}
					<div class="leadership-tile-info">
						<a href="{title_permalink='inventor-network/senior-inventors'}">{inventor_first_name} {inventor_last_name}</a>
						<p>{inventor_job_title}</p>
					</div>
					</a>
				</li>
			{/exp:stash:append}

		{/exp:channel:entries}
			
		{exp:stash:set name="content"}
			{exp:stash:get name="page_body"}
			
			<h4 class="section-header">Senior Inventors</h4>
			<ul class="block-grid four-up mobile">
				{exp:stash:get name="inventor_profiles"}
			</ul>

		{/exp:stash:set}
	{/case}

	{case default="Yes"}
		{embed="_layouts/basic-page-sidebar"}
		{exp:channel:entries channel="{channel}" 
			{gv_channel_disable_basic} 
			limit="1"
		}
			{exp:stash:set_value name="title" value="Senior Inventors"}
		  {exp:stash:set_value name="body_class" value="page default-layout inventor-network"}
		  {exp:stash:set_value name="entry_id" value="{entry_id}"}
		  {exp:stash:set name="breadcrumb"}{exp:taxonomy:breadcrumbs tree_id="2" node_id="33" include_here="no"}{/exp:stash:set}

		  {exp:stash:set name="side_navigation"}
				{exp:taxonomy:nav tree_id="2" node_id="33" ul_css_id="side-navigation-list" root_node_id="5" depth="1"}
				    <a href="{node_url}">{node_title}</a> 
				{/exp:taxonomy:nav}
			{/exp:stash:set}

		  {exp:stash:set name="page_body"}
		  	
		  	<h2 class="sub-page-header">{title}</h2>
		  	<p class="profile-main-title">{inventor_job_title}</p>
		  	
		  	{inventor_web_bio}
		  {/exp:stash:set}

		  {exp:stash:set name="page_sidebar"}
		  	{exp:ce_img:pair
					src="{inventor_photo}"
					width="300"
					crop="yes|center,top"
				}
					<div class="profile-sidebar-photo">
						<img src="{made}" alt="{title}" class="photo color">
					</div>
				{/exp:ce_img:pair}
		  {/exp:stash:set}
		{/exp:channel:entries}

		{exp:stash:set name="content"}
			{exp:stash:get name="page_body"}
		{/exp:stash:set}

		{exp:stash:set name="sidebar"}
			{exp:stash:get name="page_sidebar"}
		{/exp:stash:set}
	{/case}
{/exp:switchee}